html, body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  height: 15%;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
}

#app {
  height: 80%;
  width: 80%;
  z-index: 100;
}

